body {
    background-color: lightblue;
}

h1 {
    color: wheat;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px
}

/*

git push
git commin -m "updated"

para sacar git pull 

1 certification
1 mini project
*/